@import '~normalize.css';


* {
  box-sizing: border-box;
}

body {
  background: black;
  color: #999;
  font-family: Helvetica Neue, sans-serif;
  padding: 20px;
}


.MainHeader {
  display: flex;
  align-items: center;
  padding: 20px 0 40px;

  .title {
    color: red;
    font-weight: 300;
    text-transform: uppercase;
    margin: 0 20px 0 0;
  }
}


.MainNav {
  display: flex;
  align-items: center;

  a {
    color: #999;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px;

    &.isActive {
      color: white;
      position: relative;

      &::after {
        content: ' ';
        display: block;
        height: 4px;
        background: white;
        position: absolute;
        bottom: -2px;
        left: 10px;
        right: 10px;
      }
    }
  }
}
