.MoviePoster {
  color: white;
  font-size: 12px;

  h1 {
    color: white;
    font-size: 12px;
    margin-bottom: 3px;
  }

  p {
    margin-top: 2px;
    color: #aaa;
  }

  img {
    display: block;
    max-width: 100%;
  }
}
